@* @using StandardCMS.DB.Models;
@model IEnumerable<Menu>; *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Admin Area"] - CMS</title>
    <link rel="stylesheet" href="" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        @* <ul>
        @foreach (var menu in Model)
        {
        <li>
        @menu.Name
        @if (menu.SubMenus != null && menu.SubMenus.Any())
        {
        <ul>
        @foreach (var subMenu in menu.SubMenus)
        {
        <li>
        <a href="#" onclick="loadContent(@subMenu.Id)">@subMenu.Name</a>
        </li>
        <li>@subMenu.Name</li>
        }
        </ul>
        }
        </li>
        }
        </ul> *@


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Commissions" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Menus" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="SubMenus" asp-action="Index">Sub Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Contents" asp-action="Index">Contents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Agents" asp-action="Index">Agents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="CommissionRules" asp-action="Index">Commission Rule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Sales" asp-action="Index">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Agents" asp-action="Register">Register Agent</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Agents" asp-action="LoadAgent" asp-route-Id="3">Load Agent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Advisor" asp-controller="Leads" asp-action="Index" asp-route-Id="3">Leads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Advisor" asp-controller="LeadStatus" asp-action="Index" asp-route-Id="3">Leads Status</a>
                        </li>
                        


                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Plots" asp-action="Index">Plots</a>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <div id="contentArea">
                <!-- Content will be loaded here -->
            </div>
        </main>


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    @* <script type="text/javascript">
    function loadContent(subMenuId) {
    console.log("LoadContent called with id: " + subMenuId);
    $.get('@Url.Action("LoadContent", "Home")', { subMenuId: subMenuId }, function (data) {
    console.log("AJAX request succeeded.");
    $('#contentArea').html(data);
    }).fail(function () {
    console.log("AJAX request failed.");
    });
    }
    </script> *@

    @RenderSection("Scripts", required: false)
</body>
</html>
