@model StandardCMS.DB.Models.Agent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAgent.AgentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAgentActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentAgent.IsAgentActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
