@model StandardCMS.DB.Models.CommissionRule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommissionRule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissionPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissionPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommissionRuleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
