@model IEnumerable<StandardCMS.DB.Models.CommissionRule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommissionRuleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommissionRuleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommissionRuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
